APP_LISTEN_PORT=3000
MONGO_URI=
CORS_ORIGIN=IPwhichAreAllowedToAccessElse*forall
ACCESS_TOKEN_SECRET=nasiwnkwjcnwkjcwjdnwd
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=cwsjdbcjnc
REFRESH_TOKEN_EXPIRY=10d
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=